<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Responsive Icon Grid</title>
    <link rel="stylesheet" href="web/sass/styles.css">
  </head>
  <body>
    <div class="wrap">
      <ul class="list-of-boxes">
        <!-- First state of Document...class is called "second-box" because I was trying something -->
        <li class="second-box borderRight borderBottom">
          <a href="#"><span class="fa fa-camera fa-3x" aria-hidden="true"></span>
          <h3>Squid Voluptate<div class="line"><div></h3></a>
          <span class="hover-heading">FASHION</span>
        </li>
        <li class="second-box borderRight borderBottom">
          <a href="#"><span class="fa fa-diamond fa-3x" aria-hidden="true"></span>
          <h3>Squid Voluptate<div class="line"><div></h3></a>
          <span class="hover-heading">FASHION</span>
        </li>
        <li class="second-box borderBottom">
          <a href="#"><span class="fa fa-music fa-3x" aria-hidden="true"></span>
          <h3>Squid Voluptate<div class="line"><div></h3></a>
          <span class="hover-heading">FASHION</span>
        </li>
        <li class="second-box borderRight">
          <a href="#"><span class="fa fa-suitcase fa-3x" aria-hidden="true"></span>
          <h3>Squid Voluptate<div class="line"><div></h3></a>
          <span class="hover-heading">FASHION</span>
        </li>
        <li class="second-box borderRight">
          <a href="#"><span class="fa fa-cutlery fa-3x" aria-hidden="true"></span>
          <h3>Squid Voluptate<div class="line"><div></h3></a>
          <span class="hover-heading">FASHION</span>
        </li>
        <li class="second-box">
          <a href="#"><span class="fa fa-graduation-cap fa-3x" aria-hidden="true"></span>
          <h3>Squid Voluptate<div class="line"><div></h3></a>
          <span class="hover-heading">FASHION</span>
        </li>
      </ul>
    </div> <!-- end class "wrap" -->
    <!-- <script src="../../bower_components/jquery"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="web/js/scripts.js"></script>
  </body>
</html>
